/* external style sheet */
h1 {
    color: rgb(76, 13, 13);
    font-size: 85px;
    font-weight: 900;
    text-align: center;
    font-style:oblique;
}

#background {
    color: #6014da;
}

footer {
    color: rgb(205, 80, 103);
    background-color: black;
    text-align: center;
}

body {
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-position: bottom;
}

